html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,form,fieldset,embed,object,applet {margin:0;padding:0;border:0}
body {font-size:80%;font-family:Arial,sans-serif;color:#000;background:#fff}
a {color:#00c}
a.signout {color:white; text-decoration: none; text-align:bottom; float:right;}
a:active {color:red}
a:visited {color:#551a8b}
table {border-collapse:collapse;border-width:0;empty-cells:show}
ul {padding:0 0 1em 1em}
ol {padding:0 0 1em 1.3em}
li {line-height:1.5em;padding:0 0 .5em 0}
p {padding:0 0 1em 0}
h1,h2,h3,h4,h5 {padding:0 0 0.5em 0}
h1 {font-size:1.3em}
h2 {font-size:1.2em}
h3 {font-size:1.1em;color:grey;}
h4,h5,table {font-size:1em}
sup,sub {font-size:.7em}
input,select,textarea,option {font-family:inherit;font-size:inherit}
select {background: transparent;}
th, td { text-align: left;vertical-align: top; }

.inline { display: inline; }
.doc {font-size:130%, width:100%;text-align:left}
.section:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.unit .section:after {clear:none}
.unit .section {width:100%;overflow:hidden}
.section,.unit {zoom:1}
.unit .section:after {clear:none}
.unit .section {width:100%;overflow:hidden}
.section,.unit {zoom:1}
.tpl-nest .unit {float:left;width:auto;display:inline;margin:0}
.runit {float:right;width:auto;display:inline;margin:0}

.bold { font-weight: bold; }
.heading { vertical-align: bottom;  margin-bottom: 10px; padding: 0; }
.form-heading {  margin: 0; padding: 0 2px; }
.row { clear: both; padding: 5px 0; display: block; }
.row label { float: left; width: 120px; margin-left: 5px;  margin-top: 2px; }
.message { background: #fbb; border: 1px solid #ddd; padding: 2px; margin: 1em 1em 1em 1em; }
.id { color: Blue; }
.var { color: Green; }

.rounded-box {
  margin: 2px;
  padding: 2px;
  border-radius: 5px 5px;
  border: 1px solid grey;
}
.max-width-500px {
  max-width: 500px;
}
.width-600px {
  width: 600px;
}
.width-1000px {
  width: 1000px;
}
fieldset.bordered {
  margin: 2px;
  padding: 2px;
  border: 1px solid grey;
}

table { 
  margin: 2px,2px,2px,2px;
  padding: 2px;
  border: 1px solid grey;
}
td,th { 
  padding: 2px; 
  border: 1px solid #789DB3;
}

img.centered { display: block; margin-left: auto; margin-right: auto }

img.bottom { vertical-align: text-bottom; }

input:read-only {
  background-color: #eee;
}
label {
  float: left;
  text-align: right;
  width: 150px;
  margin-right: 5px;
}
.buttonbar {
  height: 32px;
  vertical-align: middle;
}
button {
  vertical-align: middle;
}
button#monitor, button#settings, button#admin {
  visibility: hidden;
}
div.field {
  margin-left: 150px;
}
ul.nobullet {
  list-style-type: none;
}
ul.field {
  margin-left: 150px;
}
li.field {
  list-style-type:none;
}
td.name, th.name{
  width: 180px;
}
td.email, th.email {
  width: 180px;
}
input.qtr {
  width: 45px;
}
td.select,th.select {
  width: 45px;
  text-align: center;
}
td.full,th.full {
  width: 140px;
  padding: 2px;
}
td.dbl,th.dbl {
  width: 280px;
  padding: 2px;
}
input.full, select.full {
  width: 138px;
  border: 0;
  border-style: none;
}
input.dbl {
  width: 276px;
  border: 0;
  border-style: none;
}
td.half,th.half {
  width: 70px;
  padding: 1px;
}
input.half, select.half {
  width: 69px;
  border: 0;
  border-style: none;
}
input[type=submit] {
  border-radius: 4px;
}
span.signal-date {
  margin-left: 20px;
  width: 150px;
}
span.signal-value {
  margin-left: 20px;
}
.button-bar {
  margin: 4px;
}
.errmsg {
  color: red;
}
#nav-bar {
  border-radius: 5px;
  background: #5184d2;
  padding: 5px 5px 0 5px;
}
#nav-bar-items {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
#nav-bar-items li {
  margin: 0 6px 0 0;
  padding: 6px 10px 5px 10px;
  border-radius: 5px 5px 0 0;
  background: #3a6aad;
}
#nav-bar-items img {
  width: 16px;
  height: 16px;
  padding-right: 2px;
}
#nav-bar-items li.nav-active {
  background: #fff url(/static/navbg.png) repeat-x 0 100%;
}
#nav-bar-items li a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #fff;
  outline: 0;
}
#body-content {
  margin: 10px 15px;
  padding: 7px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
}
#footer-content {
  margin: 10px 15px;
  padding: 7px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
}
