<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NetReceiver - Admin</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <script type="text/javascript" src="/static/utils.js"></script>
  <script type="text/javascript">
  function updateUser() {
    return updateForm('update_user', 'user', {'ue':'input', 'ur':'select'});
  }
  function deleteUser() {
    return deleteForm('delete_user', 'user', 'ue');
  }
  function deleteAsp() {
    return deleteForm('delete_asp', 'asp', 'ak');
  }
  </script>
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}{% if sk %}?sk={{ sk }}{% endif %}">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
      {% if signout %}<li class="runit"><a href="{{ signout }}">Sign out</a></li>{% endif %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>NetReceiver Admin{%if sn %} for {{ sn }}{% endif %}</h1></div>

  {%if ra %}IP address: {{ ra }}<br>{% endif %}
  {%if vn %}<br>Version: {{ vn }}<br>{% endif %}
  {%if err %}<div id="err" class="errmsg">{{ err }}</div>{% endif %}
  {%if msg %}<div id="msg">{{ msg }}</div>{% endif %}

{%if admin or add %}
{%if not unconfirmed %}
  <!-- site details -->
  <div class="rounded-box width-600px">
    <span class="bold">Site</span>
    <hr>
    <div class="button-bar">
    <form enctype="multipart/form-data" action="/admin/site/{% if sk and not rr %}update{% else %}add{% endif %}" method="post">{%if rr %}
    <input type="hidden" name="rr" value="{{ rr }}">{% endif %}
    <fieldset>
      <label>Name:</label>
      <input type="text" name="sn" value="{{ sn }}" class="full bold"{%if sk and not rr %} readonly{% endif %}><br>{% if sk %}
      <label>Key:</label>
      <input type="text" name="sk" value="{{ sk }}" class="full" readonly><br>{% endif %}
      <label>Owner:</label>
      <input type="text" name="oe" value="{{ oe }}" class="full" readonly><br>
      <label>Phone:</label>
      <input type="text" name="op" value="{{ op }}" class="half"><br>
      <label>Country:</label>
      <select name="cc">
        <option value="">- Select country -</option>{% for cn in countries %}
        <option value="{{ cn.code }}"{%if cc == cn.code %} selected{% endif %}>{{ cn.name }}</option>{% endfor %}
      </select><br>
      <label>Timezone:</label>
      <input type="text" name="tz" value="{{ tz }}" class="half"> hours &plusmn; UTC<br>
      <label>Location:</label>
      <input type="text" name="sl" value="{{ sl }}" class="full"> (lat,lng)<br>
      <label>Notify period:</label>
      <input type="text" name="np" value="{{ np }}" class="half"> hour{% if np and np > 1 %}s{% endif %}<br>
      {%if sk %}<label>Enabled:</label>
      <input type="checkbox" name="en" {%if en %}checked{% endif %}><br>
      <label>Premium:</label>
      <input type="checkbox" name="pr" {%if pr %}checked{% endif %} disabled><br>{% endif %}
      <input type="submit" value="{% if sk %}{% if rr %}Re-register{% else %}Update{% endif %}{% else %}Register{% endif %}" />
    </form>{% if sk %}
    <form class="inline" enctype="multipart/form-data" action="/admin/site/delete" method="post"
          onsubmit="return confirmForm('Really delete site?');">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="dt" value="site">
      <input type="submit" value="Delete site">
    </form>
    <hr>
    <form class="inline" enctype="multipart/form-data" action="/admin/site/delete" method="post"
          onsubmit="return confirmForm('Really delete?');">
      <input type="submit" value="Delete">
      <select name="dt" class="full">
        <option value="data">scalar data</option>
        <option value="binary">binary data</option>
        <option value="video">video data</option>
        <option value="video">requests</option>
      </select>
      for device (MAC)
      <input type="text" name="ma">
      <input type="hidden" name="sk" value="{{ sk }}">
    </form>{% endif %}
    </fieldset>
  </div><!--button bar--> 
  </div>
  <br>
{% endif %}

{%if sk %}
  <!-- user details -->
  <div class="rounded-box width-600px">
  <span class="bold">Users</span>
  <hr>
  <table id="user">
    <tr>
      <th class="select"></th>
      <th class="full">Email</th>
      <th class="half">Role</th>
    </tr>
    {% for user in users %}
    <tr>
    <form id="{{ user.email }}">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="checkbox" name="select"></td>
      <td class="full"><input type="text" name="ue" value="{{ user.email }}" class="full id" readony></td>
      <td class="half">
        <select name="ur" class="half">
          <option value="">- Select -</option>{% for role in roles %}
          <option value="{{ role }}"{%if user.role == role %} selected{% endif %}>{{ role }}</option>{% endfor %}
        </select>
      </td>
    </form>
    </tr>{% endfor %}
    <tr>
    <form enctype="multipart/form-data" action="/admin/user/add" method="post">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="submit" value="Add"></td>
      <td class="full"><input type="text" name="ue" value="{{ ue }}" class="full id"></td>
      <td class="half">
        <select name="ur" class="half">
          <option value="">- Select -</option>{% for role in roles %}
          <option value="{{ role }}"{%if ur == role %} selected{% endif %}>{{ role }}</option>{% endfor %}
        </select>
      </td>
    </form>
    </tr>
  </table>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="update_user" action="/admin/user/update" method="post" onsubmit="return updateUser();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ue">
      <input type="hidden" name="ur">
      <input type="submit" value="Update">
    </form>
    <form class="inline" enctype="multipart/form-data" id="delete_user" action="/admin/user/delete" method="post" onsubmit="return deleteUser();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ue">
      <input type="submit" value="Delete">
    </form>
  </div><!--button bar--> 
  </div><!--rounded box --> 
  <br>

  <!-- asp details -->
  <div class="rounded-box width-600px">
  <span class="bold">Application-specific passwords</span>
  <hr>
  <table id="asp">
    <tr>
      <th class="select"></th>
      <th class="full">URL</th>
      <th class="full">Description</th>
      <th class="full">Key</th>
    </tr>
    {% for asp in asps %}
    <tr>
    <form id="{{ asp.key }}">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="checkbox" name="select"></td>
      <td class="full"><input type="text" name="au" value="{{ asp.url }}" class="full" readonly></td>
      <td class="full"><input type="text" name="ad" value="{{ asp.description }}" class="full" readonly></td>
      <td class="full"><input type="text" name="ak" value="{{ asp.key }}" class="full" readonly></td>
    </form>
    </tr>{% endfor %}
    <tr>
    <form enctype="multipart/form-data" action="/admin/asp/add" method="post">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="submit" value="Add"></td>
      <td class="full">
        <select name="au" class="full">
          <option value="">- Select -</option>{% for url in urls %}
          <option value="{{ url }}"{%if au == url %} selected{% endif %}>{{ url }}</option>{% endfor %}
        </select>
      </td>
      <td class="full"><input type="text" name="ad" value="{{ ad }}" class="full"></td>
      <td class="full"><input type="text" name="ak" value="{{ ak }}" class="full" readonly></td>
    </form>
    </tr>
  </table>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="delete_asp" action="/admin/asp/delete" method="post" onsubmit="return deleteAsp();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ak">
      <input type="submit" value="Delete">
    </form>
  </div><!--button bar-->
  </div><!--rounded box -->
  <br>

  <!-- requests -->
  <div class="rounded-box width-600px">
  <span class="bold">Requests</span>
  <hr>
  <form class="inline" enctype="multipart/form-data" action="/admin" method="get">
  <span>IP address:</span>
  <input type="text" name="ip" value="{{ ip }}" class="full">
  <table>
    <tr>
      <th class="full">Time</th>
      <th class="full">MAC address</th>
      <th class="half">LAN IP</th>
      <th class="half">WAN IP</th>
      <th class="half">Type</th>
      <th class="half">Status</th>
    </tr>
    {% for req in reqs %}
    <tr>
      <td class="full">{{ req.date.strftime('%d %b %Y %H:%M') }}</td>
      <td class="full"><a href="/settings?sk={{ sk }}&ma={{ req.mac|macdecode }}">{{ req.mac|macdecode }}</a></td>
      <td class="half">{{ req.lan }}</td>
      <td class="half">{{ req.wan }}</td>
      <td class="half">{{ req.name }}</td>
      <td class="half">{{ req.status }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="button-bar">
    <input type="submit" value="Refresh">
    <input type="hidden" name="sk" value="{{ sk }}">
  </div><!--button bar-->
  </form>
  </div>
  <br>

  <!-- log -->
  <div class="rounded-box width-600px">
  <span class="bold">Log</span>
  <hr>
  <form class="inline" enctype="multipart/form-data" action="/text/{{ sk }}/" method="post">
    <fieldset>
      <label>Log input</label>
      <select name="di" class="full">
	<option value="">- Select -</option>{% for pin in pins['T'] %}
        <option value="{{ pin }}">{{ pin }}</option>{% endfor %}
      </select>
      <br>
      <label>Start time:</label>
      <input type="text" name="ds" value="{{ ds }}" class="full"><br>
      <label>Finish time:</label>
      <input type="text" name="df" value="{{ df }}" class="full"><br>
      <label>Duration:</label>
      <input type="text" name="dd" value="{%if dd %}{{ dd }}{% else %}12{% endif %}" class="half">
      <select name="du">
        <option value="minutes">minutes</option>
        <option value="hours" selected>hours</option>
        <option value="days">days</option>
      </select>
      <br>
    </fieldset>
    <div class="button-bar">
      <input type="submit" value="Get log">
    </div><!--button bar-->
  </form>
  Specify duration without times for most recent log data, or times in ISO format
  (<em>YYYY&#8209;MM&#8209;DD</em> or <em>YYYY&#8209;MM&#8209;DD&nbsp;HH:MM</em>).<br>
  </div>
  <br>

  <!-- other utilities -->
  <div class="rounded-box width-600px">
  <span class="bold">Utilities</span>
  <hr>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" action="/admin/util/find" method="post">
    <input type="submit" value="Find device">
    <input name="ma" value="{{ ma }}">&nbsp;&rarr;&nbsp;{{ nm }}
    <input type="hidden" name="sk" value="{{ sk }}">
    </form>
  </div><!--button bar-->
  <hr>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data"action="/admin/util/move" method="post">
    <input type="submit" value="Move device">
    <select name="ma">
      <option value="">- Select device -</option>{% for dev in devices %}
      <option value="{{ dev.mac|macdecode }}">{{ dev.did }}</option>{% endfor %}
    </select>
    &nbsp;&rarr;&nbsp;
    <select name="sk2">
      <option value="">- Select site -</option>{% for site in sites %}
      <option value="{{ site.skey }}">{{ site.name }}</option>{% endfor %}
    </select>
    <input type="hidden" name="sk" value="{{ sk }}">
    </form>
  </div><!--button bar-->
  <hr>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="encode" action="/admin/util/encode" method="post">
    <input type="submit" value="MAC encode/decode">
    <input type="input" name="ma" value="{{ ma }}">&nbsp;&harr;&nbsp;
    <input type="input" name="me" value="{{ me }}">
    <input type="hidden" name="sk" value="{{ sk }}">
    </form>
  </div><!--button bar-->
  <hr>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="export" action="/admin/util/export" method="post">
    <input type="hidden" name="sk" value="{{ sk }}">
    <input type="submit" value="Export site data">
    </form>
  </div><!--button bar-->
  </div>
  <br>
{% endif %}
{% endif %}
  <p><a href="/help">Learn more</a> about NetReceiver.</p>

  </div><!-- body-content -->

  <div id="footer-content">
  <p><em>{{ disclaimer }}</em></p>
  </div>
  </body>
</html>
