<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NetReceiver - Chart</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript" src='https://www.gstatic.com/charts/loader.js'></script>

  <script type="text/javascript">
    google.charts.load('current', {packages: ["line"]});
    google.charts.setOnLoadCallback(draw);

    function draw() {
{%if not err %}
      var url = '/data/{{ key }}?ma={{ ma }}&pn={{ pn }}&do=gviz&tz={{ tz }}';
      let params = ['ds', 'df', 'dd', 'du'];
      for (let param of params) {
        var elem = document.getElementById(param);
        if (param == 'du') {
          elem = elem.options[elem.selectedIndex];
        }
        if (elem.value != '') {
          url += '&' + param + '=' + elem.value;
        }
      }
      document.getElementById("url").innerHTML = url;

      var options = {
        timeZone: {{ tz }},
        axes: { y: { all: { format: { pattern: 'decimal' } } } }
      };

      var wrap = new google.visualization.ChartWrapper({
        chartType: 'google.charts.Line',
        dataSourceUrl: url,
        containerId: 'chart',
        options: google.charts.Line.convertOptions(options)
      });

      // catch errors, which are invariably due to having no data
      google.visualization.events.addListener(wrap, 'error', function (err) {
        console.log(err.id, err.message);
        google.visualization.errors.removeError(err.id);
        document.getElementById("chart").innerHTML = 'No data.';
      });

      wrap.draw();
{% endif %}
    }
  </script>
</head>
<body>
  {%if err %}<div id="err" class="errmsg">{{ err }}</div>{% endif %}
  <div class="rounded-box max-width-500px">
    <fieldset>
      <label>Sensor:</label>
      <input type="text" name="si" value="{{ si }}" id="si" class="full" readonly> ({{ ma }} {{ pn }})<br>
      <label>Start time:</label>
      <input type="text" name="ds" value="{{ ds }}" id="ds" class="full" onChange="draw();"><br>
      <label>Finish time:</label>
      <input type="text" name="df" value="{{ df }}" id="df" class="full" onChange="draw();"><br>
      <label>Duration:</label>
      <input type="text" name="dd" value="{{ dd }}" id="dd" class="half" onChange="draw();">
      <select name="du" id="du" onChange="draw();">
        <option value="minutes"{%if not du or du == "minutes" %} selected>{% endif %}minutes</option>
        <option value="hours"{%if du == "hours" %} selected{% endif %}>hours</option>
      </select>
      <br>
    </fieldset>
  </div>
  <br>
  <div id="chart" style="height: 600px; width: 1000px;"></div><br>
  Data source: <div id="url"></div>
</body>
</html>


