<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NetReceiver</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}{% if sk %}?sk={{ sk }}{% endif %}">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
      {% if signout %}<li class="runit"><a href="{{ signout }}">Sign out</a></li>{% endif %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>NetReceiver</h1></div>

  <p>
  NetReceiver is a free application to remotely monitor sensor
  data. Simply log into your Google Account then go to
  <a href="/admin/site/add">Admin</a> to register your site.
  </p>

  <h2>Service</h2>
  <p>
  The service is a Google App Engine program which listens for and
  records sensor data "signals" from clients. The service is also how
  you register sites and devices.
  </p>

  <h2>Client</h2>
  <p>
  The client is known as <em>NetSender</em>, which is also the name of
  the client library. The default client is <em>gpio-netsender</em>.
  There is an Arduino C++ version for the ESP8266 microcontroller and
  a Go version for the Raspberry Pi.
  </p>

  <h2>Technical Details</h2>
  <p>
  Read <a href="/help">the help</a> to learn more about how NetReceiver
  works.
  </p>
 
  <h2>Contact Details</h2>
  <p>
  The author, Alan Noble, can be contacted at <a href="mailto:anoble@gmail.com">anoble@gmail.com</a>.
  </p>
 
  </div><!-- body-content -->

  <div id="footer-content">
  <p><em>{{ disclaimer }}</em></p>
</body>
</html>
