<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Boat Alarm - Log{%if vessel %} for {{ vessel }}{% endif %}</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}">{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>Boat Alarm Log</h1></div>

  {%if err %}<div id="err" class="errmsg">{{ err }}</div>{% endif %}
  {%if msg %}<div id="msg">{{ msg }}</div>{% endif %}

  {%if alarms %}<p>
  Vessel: {{ vessel }}<br/>
  Status: {%if active %}active{% else %}inactive{% endif %}<br/>
  Last update: {%if ago %}{{ ago }} minutes ago{% endif %}<br/>
  </p>

  <table class="table_600px">
    <tr>
      <th>Date/Time (UTC)</th>
      <th>Alarm</th>
      <th>Data</th>
    </tr>
    {% for alarm in alarms %}
    <tr>
      <td>{{ alarm.date.strftime('%d %b %Y %H:%M') }}</td>
      <td>{{ alarm.alarm }}{% if alarm.notified %} (notified){% endif %}</td>
      <td>{{ alarm.data }}</td>
    </tr>{% endfor %}
  </table>{% endif %}

  <p>
  Current Date/Time (UTC{%if timezone %}{%if timezone > 0 %}+{% endif %}{{ timezone }}{% endif %}): {{ now.strftime('%d %b %Y %H:%M') }}
  </p>
  {%if key %}<p>
  <a href="/update?k={{ key }}&v={{ vessel|urlencode }}">Update</a><br>
  <a href="/log?delete=true&k={{ key }}&v={{ vessel|urlencode }}">Clear log</a>
  </p>{% endif %}

  </div><!-- body-content -->
  <div id="footer-content">
  <p><em>{{ disclaimer }}</em></p>
  </div>
  </body>
</html>
