<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NetReceiver - Monitor</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}{% if sk %}?sk={{ sk }}{% endif %}">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
      {% if signout %}<li class="runit"><a href="{{ signout }}">Sign out</a></li>{% endif %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>NetReceiver Monitor{%if sn %} for {{ sn }}{% endif %}</h1></div>

  {%if err %}<div id="err" class="errmsg">{{ err }}</div>{% endif %}
  {%if msg %}<div id="msg">{{ msg }}</div>{% endif %}

  <div>{%if df == 'all' %}<a href="/monitor?{%if sk %}sk={{sk}}{% elif ak %}ak={{ak}}{% endif %}">Show enabled devices only</a>{% else %}<a href="/monitor?{%if sk %}sk={{sk}}{% elif ak %}ak={{ak}}{% endif %}&df=all">Show all devices</a>{% endif %}</div>

  {% for dev in devices %}{%if df == 'all' or dev.enabled %}
  <div class="rounded-box max-width-500px">
    <span class="id">{{ dev.did }}</span>{%if dev.vars.nickname %} <em>{{ dev.vars.nickname }}</em>{% endif %} ({{ dev.mac|macdecode }})<br>
    Address: {{ dev.la }}<br>
    Configured: <img src="/static/{{ dev.icon }}.png" alt="{{ dev.icon }}" class="bottom"><br>
    Status: <img src="/static/{{ dev.sending }}.png" alt="{{ dev.sending }}" class="bottom"><br>
    Uptime: {%if dev.uptime %}{{ dev.uptime.days }} days {{ dev.uptime.hours }} hours {{ dev.uptime.minutes }} minutes{% else %}-{% endif %}<br>{%if dev.count > 0 %}
    Throughput: {{ dev.throughput }}% ({{ dev.count }}/{{ dev.max_count }})<br>{% endif %}{%if dev.vars.video %}
    <hr>
    <div class="id">Video</div>
    <a href="{{ dev.vars.video }}" target="_blank">{{ dev.vars.video }}</a><br>{% endif %}
    {% for data in dev.data %}
    <hr>
    <div class="id">{{ data.sensor.sid }}{%if debug %} ({{ data.pin }}){% endif %}</div>
    <button onClick="location.href='/chart/{{ sk }}?ma={{ dev.mac|macdecode }}&pn={{ data.pin }}';"><img src="/static/chart.png"></button>
    <span class="signal-date">{{ data.signal.date.strftime('%d %b %Y %H:%M') }}</span>
    <span class="signal-value">{{ data.signal.fvalue }} {{ data.sensor.units }}</span><br>
    {% endfor %}
  </div><br>
  {% endif %}{% endfor %}

  <a href="/help">Learn more</a> about NetReceiver.
  </p>
  </div><!-- body-content -->

  <div id="footer-content">
  <p><em>{{ disclaimer }}</em></p>
  </div>
  </body>
</html>
