<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NetReceiver - Sensors</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}">{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>NetReceiver - Sensors</h1></div>

  {%if err %}<div id="err" class="errmsg">{{ err }}</div>{% endif %}
  {%if msg %}<div id="msg">{{ msg }}</div>{% endif %}

  <div class="rounded-box-600px">
  <span class="bold">Sensor details</span>
  <hr>
  <table>
    <tr>
      <th>MAC address</th>
      <th>Pin</th>
      <th></th>
    </tr>
    {% for sen in sensors %}
    <tr>
    <form enctype="multipart/form-data" action="/device/update" method="post">
      <input type="hidden" name="ky" value="{{ ky }}">
      <td><input type="text" name="ma" value="{{ sen.mac }}" class="cell" readonly></td>
      <td><input type="text" name="pn" value="{{ sen.pin }}" class="cell"></td>
      <td><input type="submit" value="Update"></td>
    </form>
    </tr>{% endfor %}
    <tr>
    <form enctype="multipart/form-data" action="/sensor/add" method="post">
      <input type="hidden" name="ky" value="{{ ky }}">
      <td><input type="text" name="ma" value="{{ ma }}" class="cell" readonly></td>
      <td><input type="text" name="pn" value="{{ pn }}" class="cell"></td>
      <td><input type="submit" value="Add"></td>
    </form>
    </tr>
  </table>
  </div>
  <br>

  <p>NetReceiver sends notification emails
  from <b>NetReceiverService@gmail.com</b>, so ensure this address is
  not treated as spam by your email provider.
  <a href="/help">Learn more</a> about NetReceiver.
  </p>

  </div><!-- body-content -->

  <div id="footer-content">
  <p><em>{{ disclaimer }}</em></p>
  </div>
  </body>
</html>
