<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NetReceiver - Settings</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <script type="text/javascript" src="/static/utils.js"></script>
  <script type="text/javascript">
  function updateDevice() {
    return updateForm('update_device', 'device', {'di':'input','ma':'input','wi':'input','ip':'input','op':'input','mp':'input','ap':'input','tg':'input','dk':'input','de':'checkbox'});
  }
  function enableDevice(mac) {
    document.getElementById('device.'+mac).elements['select'].checked = true;
    updateForm('update_device', 'device', {'di':'input','ma':'input','wi':'input','ip':'input','op':'input','mp':'input','ap':'input','tg':input,'dk':'input','de':'checkbox'});
    document.getElementById('update_device').submit();
  }
  function rebootDevice() {
    return updateForm('reboot_device', 'device', {'di':'input','ma':'input'});
  }
  function debugDevice() {
    return updateForm('debug_device', 'device', {'di':'input','ma':'input'});
  }
  function upgradeDevice() {
    return updateForm('upgrade_device', 'device', {'di':'input','ma':'input'});
  }
  function deleteDevice() {
    return deleteForm('delete_device', 'device', 'ma');
  }
  function updateSensor() {
    return updateForm('update_sensor', 'sensor', {'si':'input','sp':'select','sq':'select','sx':'select','sa':'input','su':'input','sf':'select'});
  }
  function deleteSensor() {
    return deleteForm('delete_sensor', 'sensor', 'si');
  }
  function updateActuator() {
    return updateForm('update_actuator', 'actuator', {'ai':'input','av':'input','ap':'select'});
  }
  function deleteActuator() {
    return deleteForm('delete_actuator', 'actuator', 'ai');
  }
  function updateEndpoint() {
    return updateForm('update_endpoint', 'endpoint', {'ei':'input','es':'select','ea':'input','ep':'input','ex':'input','et':'input','ee':'checkbox'});
  }
  function enableEndpoint(eid) {
    document.getElementById('endpoint.'+eid).elements['select'].checked = true;
    updateForm('update_endpoint', 'endpoint', {'ei':'input','es':'select','ea':'input','ep':'input','ex':'input','et':'input','ee':'checkbox'});
    document.getElementById('update_endpoint').submit();
  }
  function deleteEndpoint() {
    return deleteForm('delete_endpoint', 'endpoint', 'ei');
  }
  function updateTrigger() {
    return updateForm('update_trigger', 'trigger', {'ti':'input','tp':'input','ts':'select','to':'select','tc':'input','ta':'select','tv':'input','td':'input'});
  }
  function deleteTrigger() {
    return deleteForm('delete_trigger', 'trigger', 'ti');
  }
  function updateCron() {
    return updateForm('update_cron', 'cron', {'ci':'input','ct':'input','ca':'select','cv':'input','cd':'input','ce':'checkbox'});
  }
  function deleteCron() {
    return deleteForm('delete_cron', 'cron', 'ci');
  }
  function addVar() {
    var form = document.getElementById('add_var');
    if (form.elements['vs'].value != '') {
      // prepend scope to name, if any
      form.elements['vn'].value = form.elements['vs'].value + '.' + form.elements['vn'].value;
    }
    return true;
  }
  function updateVar() {
    return updateForm('update_var', 'var', {'vn':'input','vv':'input'});
  }
  function deleteVar() {
    return deleteForm('delete_var', 'var', 'vn');
  }
  </script>

  </script>
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}{% if sk %}?sk={{ sk }}{% endif %}">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
      {% if signout %}<li class="runit"><a href="{{ signout }}">Sign out</a></li>{% endif %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>NetReceiver Settings{%if sn %} for {{ sn }}{% endif %}</h1></div>

  {%if err %}<div id="err" class="errmsg">{{ err }}</div>{% endif %}
  {%if msg %}<div id="msg">{{ msg }}</div>{% endif %}

{%if sk %}
  <!-- device details -->
  <div class="rounded-box width-1000px">
  <span class="bold">Devices</span>
  <hr>
    <table id="device">
    <tr>
      <th class="select"></th>
      <th class="full">ID</th>
      <th class="full">MAC address</th>
      <th class="full">WiFi SSID,key*</th>
      <th class="half">Inputs*</th>
      <th class="half">Outputs*</th>
      <th class="half">Mon period</th>
      <th class="half">Act period</th>
      <th class="half">Tag</th>
      <th class="half">Key</th>
      <th class="half">Enabled</th>
    </tr>
    {% set found = [] %}
    {% for dev in devices %}
    <tr>
    <form id="device.{{ dev.mac|macdecode }}">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="checkbox" name="select"{%if ma == dev.mac|macdecode %} checked{%do found.append(1) %}{% endif %}></td>
      <td class="full"><input type="text" name="di" value="{{ dev.did }}" class="full id" readonly></td>
      <td class="full"><input type="text" name="ma" value="{{ dev.mac|macdecode }}" class="full" readonly></td>
      <td class="full"><input type="text" name="wi" value="{{ dev.wifi }}" class="full"></td>
      <td class="half"><input type="text" name="ip" value="{{ dev.inputs }}" class="half"></td>
      <td class="half"><input type="text" name="op" value="{{ dev.outputs }}" class="half"></td>
      <td class="half"><input type="text" name="mp" value="{{ dev.monitor_period }}" class="half"></td>
      <td class="half"><input type="text" name="ap" value="{{ dev.act_period }}" class="half"></td>
      <td class="half"><input type="text" name="tg" value="{{ dev.tag }}" class="half"></td>
      <td class="half"><input type="text" name="dk" value="{{ dev.dkey }}" class="half"></td>
      <td class="half"><input type="checkbox" name="de" {%if dev.enabled %}checked{% endif %} onclick="enableDevice('{{ dev.mac|macdecode }}');">&nbsp;<img src="/static/{{ dev.icon }}.png" class="bottom"></td>
    </form>
    </tr>{% endfor %}
    <tr>
    <form enctype="multipart/form-data" action="/settings/device/add" method="post">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="submit" value="Add"></td>
      <td class="full"><input type="text" name="di" value="{{ di }}" class="full id"></td>
      <td class="full"><input type="text" name="ma" value="{% if not found %}{{ ma }}{% endif %}" class="full"></td>
      <td class="full"><input type="text" name="wi" value="{{ wi }}" class="full"></td>
      <td class="half"><input type="text" name="ip" value="{{ ip }}" class="half"></td>
      <td class="half"><input type="text" name="op" value="{{ op }}" class="half"></td>
      <td class="half"><input type="text" name="mp" value="{{ mp }}" class="half"></td>
      <td class="half"><input type="text" name="ap" value="{{ ap }}" class="half"></td>
      <td class="half"><input type="text" name="tg" value="{{ tg }}" class="half"></td>
      <td class="half"><input type="text" name="dk" value="{{ dk }}" class="half" readonly></td>
      <td class="half"><input type="checkbox" name="de" checked></td>
    </form>
    </tr>
  </table>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="update_device" action="/settings/device/update" method="post" onsubmit="return updateDevice();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="di">
      <input type="hidden" name="ma">
      <input type="hidden" name="wi">
      <input type="hidden" name="ip">
      <input type="hidden" name="op">
      <input type="hidden" name="mp">
      <input type="hidden" name="ap">
      <input type="hidden" name="de">
      <input type="hidden" name="tg">
      <input type="hidden" name="dk">
      <input type="submit" value="Update">
    </form>
    <form class="inline" enctype="multipart/form-data" id="delete_device" action="/settings/device/delete" method="post" onsubmit="return deleteDevice();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ma">
      <input type="submit" value="Delete">
    </form>
    <form class="inline" enctype="multipart/form-data" id="reboot_device" action="/settings/device/reboot" method="post" onsubmit="return rebootDevice();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="di">
      <input type="hidden" name="ma">
      <input type="submit" value="Reboot">
    </form>
    <form class="inline" enctype="multipart/form-data" id="debug_device" action="/settings/device/debug" method="post" onsubmit="return debugDevice();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="di">
      <input type="hidden" name="ma">
      <input type="submit" value="Debug">
    </form>
    <form class="inline" enctype="multipart/form-data" id="upgrade_device" action="/settings/device/upgrade" method="post" onsubmit="return upgradeDevice();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="di">
      <input type="hidden" name="ma">
      <input type="submit" value="Upgrade">
    </form>
  </div><!--button bar--> 
  </div><!--rounded box --> 
  <br>
   
  <!-- sensor details -->
  <div class="rounded-box width-1000px">
  <span class="bold">Sensors</span>
  <hr>
  <table id="sensor">
    <tr>
      <th class="select"></th>
      <th class="full">ID</th>
      <th class="full">Input</th>
      <th class="full">Quantity</th>
      <th class="half">Function</th>
      <th class="half">Args</th>
      <th class="half">Units</th>
      <th class="half">Format</th>
    </tr>
    {% for sen in sensors %}
    <tr>
    <form id="sensor.{{ sen.sid }}">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="checkbox" name="select"></td>
      <td class="full"><input type="text" name="si" value="{{ sen.sid }}" class="full id" readonly></td>
      <td class="full">
        <select name="sp" class="full">{% for pin in pins['I'] %}
          <option value="{{ pin }}"{%if sen.pin == pin %} selected{% endif %}>{{ pin }}</option>{% endfor %}
        </select>
      </td>
      <td class="full">
        <select name="sq" class="full">{% for q in quantities %}
          <option value="{{ q.code }}"{%if sen.quantity == q.code %} selected{% endif %}>{{ q.name }}</option>{% endfor %}
        </select>
      </td>
      <td class="half">
        <select name="sx" class="half">{% for xf in funcs %}
          <option value="{{ xf }}"{%if sen.func == xf %} selected{% endif %}>{{ xf }}</option>{% endfor %}
        </select>
      </td>
      <td class="half"><input type="text" name="sa" value="{{ sen.args }}" class="half"></td>
      <td class="half"><input type="text" name="su" value="{{ sen.units }}" class="half"></td>
      <td class="half">
        <select name="sf" class="half">
          <option value="">- Select -</option>{% for ff in formats %}
          <option value="{{ ff }}"{%if sen.format == ff %} selected{% endif %}>{{ ff }}</option>{% endfor %}
        </select>
      </td>
    </form>
    </tr>{% endfor %}
    <tr>
    <form enctype="multipart/form-data" action="/settings/sensor/add" method="post">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="submit" value="Add"></td>
      <td class="full"><input type="text" name="si" value="{{ si }}" class="full id"></td>
      <td class="full">
        <select name="sp" class="full">
          <option value="">- Select -</option>{% for pin in pins['I'] %}
          <option value="{{ pin }}"{%if sp == pin %} selected{% endif %}>{{ pin }}</option>{% endfor %}
        </select>
      </td>
      <td class="full">
        <select name="sq" class="full">
          <option value="">- Select -</option>{% for q in quantities %}
          <option value="{{ q.code }}"{%if sq == q.code %} selected{% endif %}>{{ q.name }}</option>{% endfor %}
        </select>
      </td>
      <td class="half">
        <select name="sx" class="half">
          <option value="">- Select -</option>{% for f in funcs %}
          <option value="{{ f }}"{%if sx == f %} selected{% endif %}>{{ f }}</option>{% endfor %}
        </select>
      </td>
      <td class="half"><input type="text" name="sa" value="{{ sa }}" class="half"></td>
      <td class="half"><input type="text" name="su" value="{{ su }}" class="half"></td> 
      <td class="half">
        <select name="sf" class="half">
          <option value="">- Select -</option>{% for f in formats %}
          <option value="{{ f }}"{%if sf == f %} selected{% endif %}>{{ f }}</option>{% endfor %}
        </select>
      </td>
   </form>
    </tr>
  </table>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="update_sensor" action="/settings/sensor/update" method="post" onsubmit="return updateSensor();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="si">
      <input type="hidden" name="sp">
      <input type="hidden" name="sq">
      <input type="hidden" name="sx">
      <input type="hidden" name="sa">
      <input type="hidden" name="su">
      <input type="hidden" name="sf">
      <input type="submit" value="Update">
    </form>
    <form class="inline" enctype="multipart/form-data" id="delete_sensor" action="/settings/sensor/delete" method="post" onsubmit="return deleteSensor();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="si">
      <input type="submit" value="Delete">
    </form>
  </div><!--button bar--> 
  </div><!--rounded box --> 
  <br>

  <!-- actuator details -->
  <div class="rounded-box width-1000px">
  <span class="bold">Actuators</span>
  <hr>
  <table id="actuator">
    <tr>
      <th class="select"></th>
      <th class="full">ID</th>
      <th class="full">Variable</th>
      <th class="full">Output</th>
    </tr>
    {% for act in actuators %}
    <tr>
    <form id="actuator.{{ act.aid }}">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="checkbox" name="select"></td>
      <td class="full"><input type="text" name="ai" value="{{ act.aid }}" class="full id" readonly></td>
      <td class="full"><input type="text" name="av" value="{{ act.var }}" class="full var"></td>
      <td class="full">
        <select name="ap" class="full">{% for pin in pins['O'] %}
          <option value="{{ pin }}"{%if act.pin == pin %} selected{% endif %}>{{ pin }}</option>{% endfor %}
        </select>
      </td>
    </form>
    </tr>{% endfor %}
    <tr>
    <form enctype="multipart/form-data" action="/settings/actuator/add" method="post">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="submit" value="Add"></td>
      <td class="full"><input type="text" name="ai" value="{{ ai }}" class="full id"></td>
      <td class="full"><input type="text" name="av" value="{{ av }}" class="full var"></td>
      <td class="full">
        <select name="ap" class="full">
        <option value="">- Select -</option>{% for pin in pins['O'] %}
          <option value="{{ pin }}"{%if ap == pin %} selected{% endif %}>{{ pin }}</option>{% endfor %}
        </select>
      </td>
   </form>
    </tr>
  </table>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="update_actuator" action="/settings/actuator/update" method="post" onsubmit="return updateActuator();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ai">
      <input type="hidden" name="av">
      <input type="hidden" name="ap">
      <input type="submit" value="Update">
    </form>
    <form class="inline" enctype="multipart/form-data" id="delete_actuator" action="/settings/actuator/delete" method="post" onsubmit="return deleteActuator();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ai">
      <input type="submit" value="Delete">
    </form>
  </div><!--button bar--> 
  </div><!--rounded box --> 
  <br>

{%if pr %}  <!-- endpoint details -->
  <div class="rounded-box width-1000px">
  <span class="bold">Endpoints</span>
  <hr>
  <table id="endpoint">
    <tr>
      <th class="select"></th>
      <th class="full">ID</th>
      <th class="full">Video input</th>
      <th class="full">IP address</th>
      <th class="half">Port</th>
      <th class="half">Protocol</th>
      <th class="half">Timeout</th>
      <th class="half">Enabled</th>
    </tr>
    {% for ep in endpoints %}
    <tr>
    <form id="endpoint.{{ ep.eid }}">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="checkbox" name="select"></td>
      <td class="full"><input type="text" name="ei" value="{{ ep.eid }}" class="full id" readonly></td>
      <td class="full">
        <select name="es" class="full">
          <option value="">- Select -</option>{% for pin in pins['V'] %}
          <option value="{{ pin }}"{%if ep.sid == pin %} selected{% endif %}>{{ pin }}</option>{% endfor %}
        </select>
      </td>
      <td class="full"><input type="text" name="ea" value="{{ ep.address }}" class="full"></td>
      <td class="half"><input type="text" name="ep" value="{{ ep.port }}" class="half"></td>
      <td class="half">
        <select name="ex" class="half">
          <option value="">- Select -</option>
          <option value="udp"{%if ep.proto == "udp" %} selected{% endif %}>udp</option>
          <option value="rtp"{%if ep.proto == "rtp" %} selected{% endif %}>rtp</option>
        </select>
      </td>
      <td class="half"><input type="text" name="et" value="{{ ep.timeout }}" class="half"></td>
      <td class="half"><input type="checkbox" name="ee" {%if ep.enabled %}checked{% endif %} onclick="enableEndpoint('{{ ep.eid }}');"></td>
    </form>
    </tr>{% endfor %}
    <tr>
    <form enctype="multipart/form-data" action="/settings/endpoint/add" method="post">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="submit" value="Add"></td>
      <td class="full"><input type="text" name="ei" value="{{ ei }}" class="full id"></td>
      <td class="full">
        <select name="es" class="full">
        <option value="">- Select -</option>{% for pin in pins['V'] %}
          <option value="{{ pin }}"{%if es == pin %} selected{% endif %}>{{ pin }}</option>{% endfor %}
        </select>
      </td>
      <td class="full"><input type="text" name="ea" value="{{ ea }}" class="full"></td>
      <td class="half"><input type="text" name="ep" value="{{ ep }}" class="half"></td>
      <td class="half">
        <select name="ex" class="half">
          <option value="">- Select -</option>
          <option value="udp"{%if ex == 'udp' %} selected{% endif %}>udp</option>
          <option value="rtp"{%if ex == 'rtp' %} selected{% endif %}>rtp</option>
        </select>
      </td>
      <td class="half"><input type="text" name="et" value="{{ et }}" class="half"></td>
      <td class="half"><input type="checkbox" name="ee" checked></td>
   </form>
    </tr>
  </table>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="update_endpoint" action="/settings/endpoint/update" method="post" onsubmit="return updateEndpoint();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ei">
      <input type="hidden" name="es">
      <input type="hidden" name="ea">
      <input type="hidden" name="ep">
      <input type="hidden" name="ex">
      <input type="hidden" name="et">
      <input type="hidden" name="ee">
      <input type="submit" value="Update">
    </form>
    <form class="inline" enctype="multipart/form-data" id="delete_endpoint" action="/settings/endpoint/delete" method="post" onsubmit="return deleteEndpoint();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ei">
      <input type="submit" value="Delete">
    </form>
  </div><!--button bar--> 
  </div><!--rounded box --> 
  <br>
{% endif %}
  <!-- trigger details -->
  <div class="rounded-box width-1000px">
  <span class="bold">Triggers</span>
  <hr>
  <table id="trigger">
    <tr>
      <th class="select"></th>
      <th class="full">ID</th>
      <th class="full">Preconditions*</th>
      <th class="full">Sensor</th>
      <th class="half">Op</th>
      <th class="half">Cmp</th>
      <th class="half">Action</th>
      <th class="full">Variable</th>
      <th class="half">Value</th>
    </tr>
    {% for trig in triggers %}
    <tr>
    <form id="trigger.{{ trig.tid }}">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="checkbox" name="select"></td>
      <td class="full"><input type="text" name="ti" value="{{ trig.tid }}" class="full id" readonly></td>
      <td class="full"><input type="text" name="tp" value="{{ trig.precond }}" class="full var"></td>
      <td class="full">
        <select name="ts" class="full">{% for sen in sensors %}
          <option value="{{ sen.sid }}"{%if trig.sid == sen.sid %} selected{% endif %}>{{ sen.sid }}</option>{% endfor %}
        </select>
      </td>
      <td class="half">
        <select name="to" class="half">{% for op in operations %}
          <option value="{{ op }}"{%if trig.op == op %} selected{% endif %}>{{ op }}</option>{% endfor %}
        </select>
      </td>
      <td class="half"><input type="text" name="tc" value="{{ trig.cmp }}" class="half"></td>
      <td class="half">
        <select name="ta" class="half">{% for action in actions %}
          <option value="{{ action }}"{%if trig.action == action %} selected{% endif %}>{{ action }}</option>{% endfor %}
        </select>
      </td>
      <td class="full"><input type="text" name="tv" value="{{ trig.var }}" class="full var"></td>
      <td class="half"><input type="text" name="td" value="{{ trig.data }}" class="half"></td>
    </form>
    </tr>{% endfor %}
    <tr>
    <form enctype="multipart/form-data" action="/settings/trigger/add" method="post">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="submit" value="Add"></td>
      <td class="full"><input type="text" name="ti" value="{{ ti }}" class="full id"></td>
      <td class="full"><input type="text" name="tp" value="{{ tp }}" class="full"></td>
      <td class="full">
        <select name="ts" class="full">
          <option value="">- Select -</option>{% for sen in sensors %}
          <option value="{{ sen.sid }}"{%if ts == sen.sid %} selected{% endif %}>{{ sen.sid }}</option>{% endfor %}
        </select>
      </td>
      <td class="half">
        <select name="to" class="half">
          <option value="">- Select -</option>{% for op in operations %}
          <option value="{{ op }}"{%if to == op %} selected{% endif %}>{{ op }}</option>{% endfor %}
        </select>
      </td>
      <td class="half"><input type="text" name="tc" value="{{ tc }}" class="half"></td>
      <td class="half">
        <select name="ta" class="half">
          <option value="">- Select -</option>{% for action in actions %}
          <option value="{{ action }}"{%if ta == action %} selected{% endif %}>{{ action }}</option>{% endfor %}
        </select>
      </td>
      <td class="full"><input type="text" name="tv" value="{{ tv }}" class="full var"></td>
      <td class="half"><input type="text" name="td" value="{{ td }}" class="half"></td>
   </form>
   </tr>
  </table>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="update_trigger" action="/settings/trigger/update" method="post" onsubmit="return updateTrigger();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ti">
      <input type="hidden" name="tp">
      <input type="hidden" name="ts">
      <input type="hidden" name="to">
      <input type="hidden" name="tc">
      <input type="hidden" name="ta">
      <input type="hidden" name="tv">
      <input type="hidden" name="td">
      <input type="submit" value="Update">
    </form>
    <form class="inline" enctype="multipart/form-data" id="delete_trigger" action="/settings/trigger/delete" method="post" onsubmit="return deleteTrigger();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ti">
      <input type="submit" value="Delete">
    </form>
  </div><!--button bar--> 
  </div><!--rounded box --> 
  <br>

  <!-- cron details -->
  <div class="rounded-box width-1000px">
  <span class="bold">Crons</span>
  <hr>
  <table id="cron">
    <tr>
      <th class="select"></th>
      <th class="full">ID</th>
      <th class="half">Time</th>
      <th class="half">Action</th>
      <th class="full">Variable</th>
      <th class="half">Value</th>
      <th class="half">Enabled</th>
    </tr>
    {% for cron in crons %}
    <tr>
    <form id="cron.{{ cron.cid }}">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="checkbox" name="select"></td>
      <td class="full"><input type="text" name="ci" value="{{ cron.cid }}" class="full id" readonly></td>
      <td class="half"><input type="text" name="ct" value="{% if cron.tod %}{{ cron.tod }}{% else %}{{ cron.time|localtime(tz) }}{% endif %}" class="half"></td>
      <td class="half">
        <select name="ca" class="half">{% for action in actions %}
          <option value="{{ action }}"{%if cron.action == action %} selected{% endif %}>{{ action }}</option>{% endfor %}
        </select>
      </td>
      <td class="full"><input type="text" name="cv" value="{{ cron.var }}" class="full var"></td>
      <td class="half"><input type="text" name="cd" value="{{ cron.data }}" class="half"></td>
      <td class="half"><input type="checkbox" name="ce" {%if cron.enabled %}checked{% endif %}></td>
    </form>
    </tr>{% endfor %}
    <tr>
    <form enctype="multipart/form-data" action="/settings/cron/add" method="post">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="submit" value="Add"></td>
      <td class="full"><input type="text" name="ci" value="{{ ci }}" class="full id"></td>
      <td class="half"><input type="text" name="ct" value="{{ ct }}" class="half"></td>
      <td class="half">
        <select name="ca" class="half">
          <option value="">- Select -</option>{% for action in actions %}
          <option value="{{ action }}"{%if ca == action %} selected{% endif %}>{{ action }}</option>{% endfor %}
        </select>
      </td>
      <td class="full"><input type="text" name="cv" value="{{ cv }}" class="full var"></td>
      <td class="half"><input type="text" name="cd" value="{{ cd }}" class="half"></td>
      <td class="half"><input type="checkbox" name="ce" checked></td>
   </form>
   </tr>
  </table>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="update_cron" action="/settings/cron/update" method="post" onsubmit="return updateCron();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ci">
      <input type="hidden" name="ct">
      <input type="hidden" name="cv">
      <input type="hidden" name="ca">
      <input type="hidden" name="cd">
      <input type="hidden" name="ce">
      <input type="submit" value="Update">
    </form>
    <form class="inline" enctype="multipart/form-data" id="delete_cron" action="/settings/cron/delete" method="post" onsubmit="return deleteCron();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="ci">
      <input type="submit" value="Delete">
    </form>
  </div><!--button bar-->
  </div><!--rounded box --> 
  <br>

  <!-- variable details -->
  <div class="rounded-box width-1000px">
  <span class="bold">Variables</span>
  <hr>
  <table id="var">
    <tr>
      <th class="select"></th>
      <th class="dbl">Name</th>
      <th class="dbl">Value</th>
    </tr>
  {% for var in vars %}{% if var.name|firstchar != '/' %}
    <tr>
    <form id="var.{{ var.name }}">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="checkbox" name="select"></td>
      <td class="dbl"><input type="text" name="vn" value="{{ var.name }}" class="dbl var" readonly></td>
      <td class="dbl"><input type="text" name="vv" value="{{ var.value }}" class="dbl"></td>
      </form>
    </tr>{% endif %}{% endfor %}
    <tr>
    <form enctype="multipart/form-data" id="add_var" action="/settings/var/add" method="post" onsubmit="return addVar();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <td class="select"><input type="submit" value="Add"></td>
      <td class="dbl">
	<select name="vs">
          <option value="">- Select -</option>{% for dev in devices %}
          <option value="{{ dev.did }}">{{ dev.did }}</option>{% endfor %}
        </select>.
        <input type="text" name="vn" list="varlist" class="full var">
        <datalist id="varlist">{% for vn in varlist %}
          <option>{{ vn }}</option>{% endfor %}
        </datalist>
      </td>
      <td class="dbl"><input name="vv" type="text" class="dbl"></td>
    </form>
    </tr>
  </table>
  <div class="button-bar">
    <form class="inline" enctype="multipart/form-data" id="update_var" action="/settings/var/update" method="post" onsubmit="return updateVar();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="vn">
      <input type="hidden" name="vv">
      <input type="submit" value="Update">
    </form>
    <form class="inline" enctype="multipart/form-data" id="delete_var" action="/settings/var/delete" method="post" onsubmit="return deleteVar();">
      <input type="hidden" name="sk" value="{{ sk }}">
      <input type="hidden" name="vn">
      <input type="submit" value="Delete">
    </form>
  </div><!--button bar-->
  </div>
  <br>

  <!-- times -->
  <div class="rounded-box width-1000px">
  <span class="bold">Times</span>
  <hr>
  <table>
    <tr>
      <th class="full">Time of day</th>
      <th class="full">Local time</th>
      <th class="full">UTC time</th>
    </tr>
  {% for time in times %}
    <tr>
      <td class="full">{{ time.name }}</td>
      <td class="full">{{ time.value|localtime(tz) }}</td>
      <td class="full">{{ time.value|localtime(0) }}</td>
    </tr>{% endfor %}
  </table>
  </div>

  <em>* comma-separated values</em>
  <br>

{% endif %}
  <a href="/help">Learn more</a> about NetReceiver.</p>

  </div><!-- body-content -->

  <div id="footer-content">
  <p><em>{{ disclaimer }}</em></p>
  </div>
  </body>
</html>
