<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NetReceiver Sites</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <script type="text/javascript">
  const SITES = { {% for site in sites %}"{{ site.skey }}":"{{ site.role }}"{%if not loop.last %}, {% endif %}{% endfor %} };  
  function setSite() {
    var select = document.getElementById("select");
    var settings = document.getElementById("settings");
    var monitor = document.getElementById("monitor");
    var admin = document.getElementById("admin");
    if (select.selectedIndex <= 0) {
      settings.style.visibility = 'hidden';
      monitor.style.visibility = 'hidden';
      admin.style.visibility = 'hidden';
    } else {
      var role = SITES[select.options[select.selectedIndex].value];
      monitor.style.visibility = 'visible';
      if (role == 'write' || role == 'admin') {
        settings.style.visibility = 'visible';
      } else {
        settings.style.visibility = 'hidden';
      }
      if (role == 'admin') {
        admin.style.visibility = 'visible';
      } else {
        admin.style.visibility = 'hidden';
      }
    }
  }
  function setAction(action) {
    var form = document.getElementById('sites');
    form.action = action;
  }
  </script>
  </head>

  <body onload="setSite();">
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}{% if sk %}?sk={{ sk }}{% endif %}">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
      {% if signout %}<li class="runit"><a href="{{ signout }}">Sign out</a></li>{% endif %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header" class="darkgreen"><h1>NetReceiver Sites</h1></div>

  {%if err %}<div id="err" class="errmsg">{{ err }}</div>{% endif %}
  {%if msg %}<div id="msg">{{ msg }}</div>{% endif %}

  <!-- site details -->
  <div class="buttonbar">
    <form id="sites" action="/settings" enctype="multipart/form-data" method="get">
      <select name="sk" id="select" onchange="setSite();">
        <option value="">- Select site -</option>{% for site in sites %}
        <option value="{{ site.skey }}"{%if sk == site.skey %} selected{% endif %}>{{ site.name }}</option>{% endfor %}
      </select>
      <button type="submit" id="monitor"><img src="/static/monitor.png" alt="monitor" onclick="setAction('monitor');"></button>
      <button type="submit" id="settings"><img src="/static/settings.png" alt="settings" onclick="setAction('settings');"></button>
      <button type="submit" id="admin"><img src="/static/admin.png" alt="admin" onclick="setAction('admin');"></button>
    </form>
  </div>
  <p>
  <br>
  <a href="/admin/site/add">Register a new site</a>
  </p>

  </div><!-- body-content -->

  <div id="footer-content">
  <p><i>{{ disclaimer }}</i></p>
  </div>
  </body>
</html>
