<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Boat Alarm - Update</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}">{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>Boat Alarm Update</h1></div>

  {%if err %}<div id="err" class="errmsg">{{ err }}</div>{% endif %}
  {%if msg %}<div id="msg">{{ msg }}</div>{% endif %}

  <div>
    <form enctype="multipart/form-data" action="/update" method="post">
    <fieldset>
      <legend>Update details</legend>
      <label>Vessel name:</label>
      <input type="text" name="v" value="{{ vessel }}" class="full"><br>
      <label>Key:</label>
      <input type="text" name="k" value="{{ key }}" class="full"><br>
      <label>Notification period:</label>
      <input type="text" name="period" {%if reg %}value="{{ reg.period }}"{% endif %} class="half"> hour(s)<br>
      <label>Timezone:</label>
      <input type="text" name="timezone" {%if reg %}value="{{ reg.timezone }}"{% endif %} class="half"> hours &plusmn; UTC<br>
      <label>Active:</label>
      <input type="checkbox" name="active" {%if reg and reg.active %}checked{% endif %}> (uncheck to disable notifications)<br>
      <input type="submit" value="Update" />
    </fieldset>
    </form>
  </div>
  <br>

  {%if key and vessel %}<p>
  <a href="/log?k={{ key }}&v={{ vessel|urlencode }}">Log of recent alarms</a>
  </p>{% endif %}

  <p>
  Disabling notifications does <em>not</em> delete your
  registration. Your name, vessel name and key are still recorded by
  Boat Alarm. <a href="/help">Learn more</a> about Boat Alarm.
  </p>

  </div><!-- body-content -->

  <div id="footer-content">
  <p><em>{{ disclaimer }}</em></p>
  </div>
  </body>
</html>
