<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en_US" xml:lang="en_US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NetReceiver - Principles</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>
  <div id="nav-bar" class="section">
    <ul id="nav-bar-items" class="tpl-nest">
      {% for elt in nav_bar %}{% if elt.active %}<li class="unit nav-active">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</li>
      {% else %}<li class="unit"><a href="{{ elt.url }}{% if sk %}?sk={{ sk }}{% endif %}">{% if elt.icon %}<img src="{{ elt.icon }}">{% endif %}{{ elt.title }}</a></li>{% endif %}
      {% endfor %}
      {% if signout %}<li  class="runit"><a href="{{ signout }}">Sign out</a></li>{% endif %}
    </ul>
  </div>

  <div id="body-content">
  <div id="header"><h1>NetReceiver Principles</h1></div>

  <p>
  NetReceiver is based on the idea of keeping clients very simple and
  putting as much processing as possible into NetReceiver, i.e., "the
  cloud."  Please read the <a href="/help">general help</a> first.
  </p>
  
  <h2>Raw data</h2>
  
  <p>
  Wherever possible, clients should send <em>raw</em> sensor data,
  leaving the processing and interpretation of data to be performed in
  the cloud by the associated sensor object. By adhering to this
  principle, historical raw data remains available to future software
  versions.
  </p>

  <h3>Example 1</h3>

  <p>
  An analog voltage reader should report the raw ADC value without
  interpreting the value.
  </p>

  <h3>Example 2</h3>

  <p>
  A turbidity sensor utilizes two luminance values. A raw turbidity
  metric can be derived from the average of the two raw luminances,
  which can in turn be passed through a calibration lookup table to
  produce a calibrated turbidity metric. The client should however
  just report the two raw luminance values without further processing.
  </p>

  <h3>Example 3</h3>

  <p>
  An sensor computes wave period and wave height from accelerometer
  data. The accelerometer output values should be sent as a binary
  data with the computation performed in the cloud.
  </p>

  <h2>Software defined</h2>

  <p>
  A corollary to the "raw data" principle is that sensor functionality
  should be defined in software, i.e., as so-called
  <em>software-defined</em> sensors. For example, a trivial example is
  the conversion of an analog value into a voltage, by means of
  multiplying a scale or adding an offset. The software-defined
  approach becomes more powerful with complex measurements, such as
  turbidity, where multiple software operations are required. The
  software-defined approach facilitates the reuse of a single stream
  of raw data by multiple sensors. Furthermore, improvements to sensor
  functionaltiy can be retrospectively applied to historical data.
  </p>

  <h2>Compression</h2>
  
  <p>
  Compress data only when it is impractical to send raw data. Where
  practical, prefer lossless compression over lossy compression.
  </p>
    
  <h2>License</h2>
  <p>
  NetReceiver is Copyright &copy; 2017-2019 Alan Noble.
  </p>

  <p>
  NetReceiver is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  </p>

  <p>
  NetReceiver is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See
  the <a href="http://www.gnu.org/licenses/">GNU General Public
  License</a> for details.
  </p>

  </div><!-- body-content -->

  <div id="footer-content">
    <p><em>{{ disclaimer }}</em></p>
</body>
</html>
    
